* {
    margin: 0px;
    padding: 0px;
}

html {
    text-align: center;
    background-color: black;
    background-size: cover;
    color: rgb(255, 255, 255);
}

nav {
    display: -webkit-flex;
    display: flex;
    list-style-type: none;
    justify-content: center;
}

footer {
    display: -webkit-flex;
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.5px rgb(68, 68, 68);
    font-size: 24px;
}

ul{
    list-style-type: none;
}

hr.stylized {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(222, 218, 255, 0.75), rgba(0, 0, 0, 0));
}

/* Classes */

.titleLink {
    text-decoration: none;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.5px rgb(68, 68, 68);
    font-size: 36px;
    text-shadow: 3px 3px 0 rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0);
    letter-spacing: 3px;
}

a:link {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.5px rgb(68, 68, 68);
    font-size: 24px;
    text-shadow: 3px 3px 0 rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0);
}

a:visited {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: rgb(226, 255, 212);
    -webkit-text-stroke: 0.5px rgb(68, 68, 68);
    font-size: 24px;
    text-shadow: 3px 3px 0 rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0);
}

a:hover {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: rgb(255, 183, 251);
    -webkit-text-stroke: 0.5px rgb(68, 68, 68);
    font-size: 24px;
    text-shadow: 3px 3px 0 rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0);
}

a:active {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: rgb(99, 150, 218);
    -webkit-text-stroke: 0.5px rgb(68, 68, 68);
    font-size: 24px;
    text-shadow: 3px 3px 0 rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0);
}